<header class="topbar">
  <!-- NOT LOGGED IN -->
  <ng-container *ngIf="!isLoggedIn; else loggedInBar">
    <div class="topbar__rightOnly">
      <button class="topbar__btn topbar__btn--dark" type="button" (click)="login.emit()">
        Login
      </button>
      <button class="topbar__btn topbar__btn--light" type="button" (click)="signup.emit()">
        Sign Up
      </button>
    </div>
  </ng-container>

    <ng-template #loggedInBar>

      <!-- LEFT SIDE (LOGO) -->
      <div class="topbar__left">
        <img src="assets/emman.png" alt="Logo" class="topbar__logo" />
      </div>

      <!-- RIGHT SIDE (DATE + DOTS) -->
      <div class="topbar__right">
        <div class="topbar__date">
          {{ today }}
        </div>

        <button class="dots" type="button" (click)="toggleMenu($event)">
  <svg
    width="20"
    height="20"
    viewBox="0 0 24 24"
    fill="currentColor"
    class="dots__icon"
  >
    <circle cx="12" cy="5" r="1.5"></circle>
    <circle cx="12" cy="12" r="1.5"></circle>
    <circle cx="12" cy="19" r="1.5"></circle>
  </svg>
</button>

        <div class="dropdown" *ngIf="menuOpen">
          <button class="dropdown__item" type="button" (click)="onArchive()">
            <img src="assets/archive.png" class="dropdown__icon" />
            <span>Archive</span>
          </button>

          <button class="dropdown__item" type="button" (click)="onExport()">
            <img src="assets/export_icon.png" class="dropdown__icon" />
            <span>Export</span>
          </button>

          <button class="dropdown__item" type="button" (click)="onDelete()">
            <img src="assets/delete.png" class="dropdown__icon" />
            <span>Delete</span>
          </button>
        </div>
      </div>

    </ng-template>
</header>